<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title><%= htmlWebpackPlugin.options.title %>电商学习</title>
</head>
<body>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/header.html') %>
	<div class="w">
		<ul class="keywords-list">
			<li class="keywords-item">
				<a target="_blank" class="link" href="./list.html?keyword=手机">手机</a>
				<a target="_blank" class="link" href="./list.html?keyword=数码">数码</a>
			</li>
			<li class="keywords-item">
				<a target="_blank" class="link" href="./list.html?keyword=电脑">电脑</a>
				<a target="_blank" class="link" href="./list.html?keyword=办公配件">办公配件</a>
			</li>
			<li class="keywords-item">
				<a target="_blank" class="link" href="./list.html?keyword=电视">电视</a>
				<a target="_blank" class="link" href="./list.html?keyword=空调">空调</a>
				<a target="_blank" class="link" href="./list.html?keyword=冰箱">冰箱</a>
				<a target="_blank" class="link" href="./list.html?keyword=洗衣机">洗衣机</a>
			</li>
		</ul>
		<div class="banner-con">
			<div class="loading"></div>
		</div>
	</div>
	<div class="w">
		<div class="floor-wrap">
			<h1 class="floor-title">F1 家用电器</h1>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>

			</ul>
		</div>
		<div class="floor-wrap">
			<h1 class="floor-title">F1 家用电器</h1>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100006" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>

			</ul>
		</div>
		<div class="floor-wrap">
			<h1 class="floor-title">F1 家用电器</h1>
			<ul class="floor-list">
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>
				<li class="floor-item">
					<a href="./list.html?categoryId=100002" class="link">
						<span class="floor-text">双开门冰箱</span>
						<img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="双开门冰箱" />
					</a>
					
				</li>

			</ul>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html') %>

</body>
</html>
