<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.imooc.com" target="_blank" class="link">慕课网</a> |
			<a href="http://www.imooc.com" target="_blank" class="link">慕课网</a> |
			<a href="http://www.imooc.com" target="_blank" class="link">慕课网</a> |
			<a href="http://www.imooc.com" target="_blank" class="link">慕课网</a>
		</div>
		<p class="copyright">copyright @ 2017 happymmall.com All Right Reserved</p>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-1.11.3.min.js"
  integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="
  crossorigin="anonymous"></script>